[Unit]
Description=install magma core and post installation activities
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /root/agw_install_ubuntu.sh &> /root/magma.txt
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
